<html>
	<head>
		<title> Django Project Blog</title>
	</head>
	<body>
		<div>
			{% for post in posts %}
			<div>
				<p>published: {{ post.published_date }} </p>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>{{ post.text }}</p>
			</div>

			{% endfor %}
		</div>
		<div>
			<h2><a href="">Django Blog</a></h2>
			<p>published : 21st May 2016</p>
		</div>
		<div>
			<h3><a href="">Life is pleasant</a></h3>
			<p>It depend on individuals to live their life the way they want</p>
		</div>
	</body>
</html>


